<!DOCTYPE html>
<!--
  Edit this file to update description on Event Pop page.
    https://www.eventpop.me/e/5646

  On `master` branch, GitLab CI will automatically update the event description
  on Event Pop using `event-popper`.
    https://github.com/dtinth/event-popper

  To develop, just close the repository and open this file in your web browser.
  No build tooling needed!
-->
<meta charset="utf-8" />
<link
  rel="stylesheet"
  href="https://p-a.popcdn.net/assets/application-191cf37435b9fae327ef5527176aec876ba4e77db4986294439ebf8b3ffb9ddb.css"
/>
<script src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom-server.browser.development.js"></script>
<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
<script src="info.js"></script>
<div id="root"></div>
<script type="text/babel">
  const colors = [
    "#D0FD43",
    "#66FD52",
    "#50FCA2",
    "#54F4EA",
    "#5AAEFB",
    "#7070FB",
    "#DE67F8",
    "#FB6CC8",
  ]
  const url = p =>
    location.search.match(/\?hosted/)
      ? `https://stupidhackth3.netlify.com/eventpop/${p}`
      : `./${p}`
  const linkify = (el, url) =>
    url ? (
      <a href={url} target="_blank" style={{ textDecoration: "none" }}>
        {el}
      </a>
    ) : (
      el
    )
  function EventDescription() {
    const styles = {
      container: {
        fontFamily: "Karla, Kanit, sans-serif",
        fontSize: "1.25em",
        fontWeight: "300",
      },
      image: {
        maxWidth: "100%",
      },
    }
    return (
      <React.Fragment>
        <link
          href="https://fonts.googleapis.com/css?family=Karla:400,700|Kanit:300,500"
          rel="stylesheet"
        />
        <div style={styles.container}>
          <Hero>
            <p>
              <strong>Bring on your crazy ideas!!!</strong>
            </p>
            <p>
              <strong>
                กลับมาอีกครั้งกับงาน The Stupid Hackathon Thailand ครั้งที่
                3&nbsp;
              </strong>{" "}
              งาน Hackathon สองวันที่เราจะมาสร้างสิ่งของเพี้ยน&nbsp;ๆ
              ที่ไม่มีใครต้องการ&nbsp; และทำไอเดียบ้า&nbsp;ๆ บอ&nbsp;ๆ
              ให้กลายเป็นจริงกัน!&nbsp; งาน Hackathon แบบกี๊ค&nbsp;ๆ
              ที่ไม่จำกัดไอเดีย&nbsp; ไม่เน้นฝั่งธุรกิจ&nbsp;
              แต่เน้นความสนุกสำหรับนักพัฒนาแบบเพียวๆ!!
            </p>
          </Hero>
          <p>
            The Stupid Hackathon Thailand is a 2-day hackathon with 
            <em>no competition or focus on business value whatsoever</em>. Just
            come join us and have fun building cool silly crazy stupid projects
            together!
          </p>

          <Heading color={colors[0]}>Venue</Heading>
          <p>
            <img
              style={styles.image}
              src={url("fastwork.jpg")}
              alt="Fastwork"
            />
          </p>
          <p>
            ขอขอบคุณ Fastwork{" "}
            ที่สนับสนุนสถานที่ให้เราได้มาปล่อยความคิดสร้างสรรค์กันอย่างเต็มที่
            และได้มาทำอะไรสนุก&nbsp;ๆ กัน
          </p>
          <p>
            Our event depends on our venue sponsor who provides us an awesome
            space where we can unleash our creativity and stupidity! This time
            we are going to Fastwork HQ!
          </p>

          <Heading color={colors[2]}>Agenda</Heading>
          <Agenda />

          <Heading color={colors[4]}>$ponsors</Heading>
          <p>
            ขอขอบคุณสปอนเซอร์ต่อไปนี้ ที่ช่วยสมทบทุนเพื่อให้งานนี้เกิดขึ้นมาได้
          </p>
          <p>
            It costs money to run events like these. This event wouldn’t be
            possible without the gracious support of our sponsors:
          </p>
          <Frame>
            <ul
              style={{
                margin: "0 auto",
                maxWidth: "512px",
                listStyle: "none",
                padding: "0.5em 0",
                textAlign: "center",
              }}
            >
              {EVENT_INFO.sponsors.corporate.map(s => (
                <li style={{ padding: "0.5em 0" }}>
                  {linkify(
                    <img
                      src={url("sponsors/" + s.image)}
                      title={s.name}
                      alt={s.name}
                      style={styles.image}
                    />,
                    s.url
                  )}
                </li>
              ))}
            </ul>
            <p style={{ textAlign: "center", margin: "0 1em 0" }}>
              <strong>Individual sponsors</strong>
            </p>
            <ul
              style={{
                margin: 0,
                padding: "0 1em 1em",
                textAlign: "center",
                listStyle: "none",
              }}
            >
              {EVENT_INFO.sponsors.individual.map(s => (
                <li style={{ fontSize: "1.25em" }}>{linkify(s.name, s.url)}</li>
              ))}
            </ul>
          </Frame>
          <p>
            โดยสามารถดูรายรับรายจ่ายทั้งหมดได้ที่{" "}
            <a
              target="_blank"
              href="https://www.notion.so/stupidhackth3/Stupid-Balance-Tracking-Sheet-f33d403a1db94bd8945525ccf452c2e0"
            >
              Stupid Balance Tracking Sheet
            </a>
          </p>
          <p>
            หากสนใจร่วมสมทบทุนสนับสนุนงานนี้ สามารถดูรายละเอียดเพิ่มเติมได้ที่
            <a
              target="_blank"
              href="https://stupidhackth3.netlify.com/go/call-for-sponsors"
            >
              หน้า Call for Sponsors
            </a>
          </p>
          {/*
          <p>
            นอกจากนี้เรายังได้รับการช่วยเหลือจากผู้สนับสนุนในด้านอื่น&nbsp;ๆ
            อีกด้วย
          </p>
          <Frame background="transparent">
            {(() => {
              const th = {
                background: "black",
                color: "white",
                mixBlendMode: "multiply",
                padding: "2px 5px",
              }
              const td = {
                background: "white",
                padding: "3px 5px",
              }
              return (
                <div
                  style={{
                    margin: -2,
                  }}
                >
                  <table
                    style={{
                      width: "100%",
                      borderSpacing: "2px",
                      borderCollapse: "separate",
                    }}
                  >
                    <thead>
                      <tr>
                        <th style={th}>Contributor</th>
                        <th style={th}>Contributions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style={td}>AHEAD.ASIA</td>
                        <td style={td}>Media partner / Event coverage</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              )
            })()}
          </Frame>
          */}

          <Heading color={colors[6]}>Q&As</Heading>
          <Q title="เปิดลงทะเบียนตอนไหน?">
            เราจะเปิดให้ลงทะเบียนในวันพฤหัสบดีที่ 11 ตั้งแต่เวลา 11:00
            เป็นต้นไป&nbsp; และปล่อยบัตรที่เหลือในวันศุกร์ที่ 12
          </Q>
          <Q title="ลงทะเบียนมาเป็นทีมได้ไหม?">
            ได้เลย สามารถสมัครมาเป็นทีมได้ ทีมละอย่างน้อย 3 คน&nbsp;
            โดยให้กดบัตรสำหรับสมาชิกในทีมแต่ละคน (บัตร 1 ใบ สำหรับ 1 คน)
          </Q>
          <Q title="แล้วถ้ายังไม่มีทีมล่ะ?">
            สามารถสมัครมาร่วมงานก่อนได้เลย&nbsp;
            โดยในวันงานเราจะมีช่วงให้รวมทีมกัน&nbsp; โดยทีมละอย่างน้อย 3 คน
          </Q>
          <Q title="มีใครมาบ้าง?">
            สามารถดูรายชื่อผู้สนใจและมาร่วมงานนี้ได้ทาง{" "}
            <a
              target="_blank"
              href="https://www.facebook.com/events/605045143239700/"
            >
              Facebook Event
            </a>{" "}
            ถ้าคุณลงทะเบียนแล้วอย่าลืมกด Going ด้วยล่ะ!
          </Q>
          <Q title="ทำโปรเจคอะไรดี?">
            งานนี้ไม่มีการจำกัดไอเดียใด&nbsp;ๆ&nbsp;ทั้งสิ้น
            (ขอแค่อย่าผิดกฎหมายพอ)&nbsp;
            คุณสามารถทำอะไรก็ได้ไม่ว่าไอเดียนั้นจะไร้สาระขนาดไหนก็ตาม&nbsp;
            หากยังคิดไม่ออก สามารถดูตัวอย่างผลงานในครั้งก่อน&nbsp;ๆ ได้ที่
            <a target="_blank" href="https://www.facebook.com/StupidHackTH/">
              เพจ The Stupid Hackathon Thailand
            </a>{" "}
            และ Blog ของคนที่เคยร่วมงานเขียนไว้ (
            <a
              target="_blank"
              href="https://blog.rayriffy.com/review-the-stupid-hackathon-th-2/"
            >
              1
            </a>
            ,{" "}
            <a
              target="_blank"
              href="https://medium.com/teamappman/%E0%B8%A1%E0%B8%B2%E0%B9%80%E0%B8%A5%E0%B9%88%E0%B8%B2%E0%B8%87%E0%B8%B2%E0%B8%99-the-stupid-hackathon-thailand-2-%E0%B9%83%E0%B8%AB%E0%B9%89%E0%B8%AD%E0%B9%88%E0%B8%B2%E0%B8%99%E0%B8%81%E0%B8%B1%E0%B8%99%E0%B8%84%E0%B9%88%E0%B8%B0-a6310bbe47e4"
            >
              2
            </a>
            )&nbsp; หรือดูตัวอย่างโปรเจคของงาน Stupid Hackathon เมืองนอกได้ที่{" "}
            <a target="_blank" href="http://www.stupidhackathon.com/">
              stupidhackathon.com
            </a>
          </Q>
        </div>
      </React.Fragment>
    )
  }
  function Q({ children, title }) {
    return (
      <p style={{ margin: "1em 0" }}>
        <strong style={{ display: "block" }}>Q: {title}</strong> {children}
      </p>
    )
  }
  function Frame({ children, background = "white" }) {
    return (
      <div
        style={{
          background: `${colors[0]} url(${url("bg.png")}) center no-repeat`,
          backgroundSize: "cover",
          padding: "1.67%",
          margin: "2em 0",
        }}
      >
        <div style={{ background }}>{children}</div>
      </div>
    )
  }
  function Hero({ children }) {
    return (
      <div
        style={{
          background: `${colors[0]} url(${url(
            "bg-hero.png"
          )}) center no-repeat`,
          backgroundSize: "cover",
          margin: "2em 0",
        }}
      >
        <div
          style={{
            background: "black",
            color: "white",
            mixBlendMode: "multiply",
            fontSize: "1.5em",
            padding: "0.5em",
            textAlign: "center",
          }}
        >
          {children}
        </div>
      </div>
    )
  }
  function Agenda() {
    const styles = {
      date: {
        margin: "0",
        font: "inherit",
      },
      timeline: {
        padding: 0,
      },
      item: {
        display: "flex",
        margin: "0.5em 0 1em",
      },
      time: {
        width: "3em",
        marginRight: "1em",
        textAlign: "right",
        flex: "none",
      },
      content: {
        display: "block",
      },
      title: {
        display: "block",
      },
      remark: {
        color: "#e36",
      },
    }
    return (
      <div>
        <h2 style={styles.date}>Saturday, April 20, 2019</h2>
        <ul style={styles.timeline}>
          <li style={styles.item}>
            <span style={styles.time}>10:30</span>{" "}
            <span style={styles.content}>
              <strong style={styles.title}>Check-in time!</strong>{" "}
              ลงทะเบียนหน้างาน
            </span>
          </li>
          <li style={styles.item}>
            <span style={styles.time}>11:00</span>{" "}
            <span style={styles.content}>
              <strong style={styles.title}>
                Opening & team formation time!
              </strong>{" "}
              เปิดงาน และรวมทีมกัน (สำหรับคนที่ยังไม่มีทีม) โดยทีมละอย่างน้อย 3
              คน
            </span>
          </li>
          <li style={styles.item}>
            <span style={styles.time}>11:30</span>{" "}
            <span style={styles.content}>
              <strong style={styles.title}>Hacking time & fun time!</strong>{" "}
              สร้างของและสนุกกันแบบฟรีสไตล์ยาว&nbsp;ๆ&nbsp; ไม่ว่าจะปั่นโปรเจค
              แบ่งปันความรู้ นั่งชิล เม้าท์มอย เล่นดนตรี ทานข้าว เล่นเกม
              เตรียมนำเสนอ ฯลฯ
            </span>
          </li>
        </ul>
        <h2 style={styles.date}>Sunday, April 21, 2019</h2>
        <ul style={styles.timeline}>
          <li style={styles.item}>
            <span style={styles.time}>14:00</span>{" "}
            <span style={styles.content}>
              <strong style={styles.title}>Pitching time!</strong>{" "}
              ได้เวลาปล่อยของ!&nbsp; เอาสิ่งที่ทำมาโชว์และอวดกัน&nbsp;
              โดยให้เวลาแต่ละทีมในการนำเสนอ 5 นาที
            </span>
          </li>
          <li style={styles.item}>
            <span style={styles.time}>16:00</span>{" "}
            <span style={styles.content}>
              <strong style={styles.title}>Awards & closing time!</strong>{" "}
              แจกรางวัลและปิดงาน
            </span>
          </li>
        </ul>
      </div>
    )
  }
  function Heading({ children, color }) {
    return (
      <h2 style={{ textAlign: "center", margin: "2.5em 0 1em" }}>
        <span
          style={{
            background: "black",
            color: color,
            padding: "0.2em 0.5em",
          }}
        >
          {children}
        </span>
      </h2>
    )
  }
  const __html = ReactDOMServer.renderToStaticMarkup(<EventDescription />)
  ReactDOM.render(
    <div className="container">
      <div className="row">
        <div className="event-container">
          <div className="content-box">
            <div className="row">
              <div
                className="col-sm-12 col-lg-8"
                dangerouslySetInnerHTML={{ __html }}
              />
              <div className="col-sm-4">
                <textarea
                  id="event-description"
                  value={__html}
                  readOnly
                  style={{
                    display: "block",
                    width: "100%",
                    height: "20em",
                    boxSizing: "border-box",
                  }}
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>,
    document.getElementById("root")
  )
</script>
