html,
body {
  margin: 0;
  padding: 0;
  background: #fb6cc8 linear-gradient(to bottom, #d0fd43, #fb6cc8);
  min-height: 100vh;
}

a {
  color: #fee140;
}

.bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../images/bg-original-by-evan-krause-443487-unsplash.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

header > h1 > span {
  background: black;
  color: white;
  display: inline-block;
  padding: 0.1em 0.2em;
  margin: -0.1em -0.2em;
}

main > section {
  background: rgba(0, 0, 0, 0.95);
  padding: 1.5rem;
  margin: 1rem -0.9rem 4rem;
  position: relative;
}

main > section > :last-child {
  margin-bottom: 0;
}

strong {
  color: #54F4EA;
}

em {
  color: #D0FD43;
}

/** Index ideas */
.index-ideas > ul {
  padding: 0;
  margin: -0.5rem 0 1.666rem -0.5rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.index-ideas > ul > li {
  box-sizing: border-box;
  padding: 0.2rem 0.5rem 0.4rem;
  margin: 0.5rem 0 0 0.5rem;
  flex: 1 1 10rem;
  max-width: 15rem;
  border: 1px solid #333;
  background: #111;
  font-size: 0.75rem;
}
.index-ideas > ul > li > p > a > strong {
  display: block;
  font-size: 1rem;
}
